body{
font-family: 'Times New Roman', Times, serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.container{
    text-align: center;
    }

.timer{
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(5, 34, 87);
}

button{
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    margin-right: 24px;
}

